# Entornos virtuales
venv/
.venv/

# Archivos de configuración local
.env
private/

# Archivos de IDE
.idea/
.vscode/

# Archivos generados
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Logs y bases de datos locales
*.log
*.sqlite
*.db
*.db-shm
*.db-wal

# Archivos de pruebas
.pytest_cache/